header{
    background-color: rgb(42, 45, 45);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
}
.start
{
    color: rgb(192, 190, 190);
}
.right
{
    display: flex;
    position: absolute;
    top: 4%;
    right: 3%;
    color: rgb(192, 190, 190);
    
}
.right1,.right2,.right3,.right4
{
    margin-left: 10px;
}
.start:hover
,.right1:hover
,.right2:hover
,.right3:hover
,.right4:hover
{
    color: white;
}
.anh1
{
   width: 100%;
   height: 700px;
}
